.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game-view {
  width: 30rem;
  margin: 0 auto;
  border: 1px solid #000;
}

.game-view-info {
  border-bottom: 1px solid #000;
  margin: 0;
}

.game-board {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.game-board-square {
  width: 10rem;
  height: 10rem;
  margin: 0;
  box-sizing: border-box;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board-square:nth-child(3n+1),
.game-board-square:nth-child(3n+2) {
  border-right: 1px solid #000;
}
.game-board-square:nth-child(-n+6) {
  border-bottom: 1px solid #000;
}
.game-board-square:hover {
  background-color: #eee;
}